
<center>
 <div class="container-sm ">
 <div class="jumbotron">
        <h1> Welcome, <%= current_user.first_name.titlecase %> </h1> 
<br>
        <h3> <%= upcoming? %><h3> <br>
    <% @user.appointments.upcoming.each do |a| %>
        <h4><%= link_to "#{a.date&.strftime("%B %e, %Y")}", appointment_path(a)%><br>
    <%end%>
        
         <%=link_to "Find a Doctor Near You ", doctors_path %> 
</div>
</div>
</center>


