
<h4> Users/Show </h4>


<h1> Welcome, <%= current_user.first_name.titlecase %> </h1> 
<br>
<h3> USER PORTAL </h3>
<!-- User Portal


<%=link_to "View Appointments", appointments_path %>
<!-- You have (amount of appointments) upcoming appointments 
<!-- Link to new Appointment 
<!-- Link to edit Appointment Appointment 

