insert search here 


<% @doctors.each do |doctor| %>
<ul>
<li> <h3><%= doctor.state %></h3>
<%= link_to "#{doctor.name}", doctor_path(doctor)%>
<li><label> (<%= doctor.specialty%>)</label>
</ul>
<br> 
<%end%>

