insert search here 


<% @doctors.each do |doctor| %>
<ul>
<li> <h3><%= doctor.state %></h3>
<li><%= doctor.first_name %> 
<%= doctor.last_name %> 
<li><label> (<%= doctor.specialty%>)</label>
</ul>
<br> 
<%end%>

