<h2> <% Dr. <%doctor.last_name%> <h2>
<h3> Address: <%doctor.address%></h3>
<h3> City: <%doctor.city%></h3>
<h3> State: <%doctor.state%></h3>
<h3> Zipcode: <%doctor.zipcode%></h3>


<%= link_to "New Appointment", new_appointment_path %>
<!-- Create New Appointment 
<!-- Look at more doctors (link to index)

