@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: #ce9dfc !important;
    
    }
    
     
    
    .navbar-brand {
    
    font-size: 3rem;
    
    }
    
     
    
    h1 {
    
    color: red;
    
    }
    